body {
  background: #F3C98B;
  text-align: center;
  font-family: 'Montserrat', sans-serif;;
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem;
}


nav {
  background: darkgray
  color: yellow
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0A7070
}

a:hover {
  color: #1EEBEB
}

img {width:100%;
  border: 0px;
}

h1{
  font-family: 'Montserrat', sans-serif, 900;
  font-size: 4rem;
  color: #F56960;
}

h2{
  font-family: 'Suez One', serif;
  font-size: 2rem;
  color: #10A8A8;
}

hr {
  margin-top: 25px;
  margin-bottom: 20px;
}

table td, th {
  border: 1px solid lightgray;
  padding: 8px;
}

table th {
  color: gold;
  background-color: black;
}

table {
  border: 1px solid darkgray;
  background-color: white;
  width: 100%;
  margin-bottom: 200px;
}

tr:nth-child(even) {
  background: #CCC
}
tr:nth-child(odd) {
  background: #FFF
}
